<%- include('partials/header') -%>


<h1>Inicial</h1>

<p> <%= paraHome %> </p>

<br>

<% posts.forEach(function(post){ %>
    <h1><%= post.titulo %>  </h1>
    <%let texto = post.texto.substring(0,100) %>
    <p><%= texto %>...  <a href="/posts/<%=post.titulo%>">Leia mais</a> </p>
<% }) %>



<%- include('partials/footer') -%>